<div class="mt-5 usco-card ">

    <h1>SOLICITUD DE PASANTES</h1>
    <p>
        cargue unicamente archivos PDF
</p>
<p>
        El informe debe presentarse siguiendo las normas APA
    </p>
        <h4>PORTADA </h4>
        <p>
                
                Nombre del estudiante y código
                Primer informe de pasantía
                 Nombre de la empresa donde desarrolla la pasantía
                Supervisor de la pasantía por parte de la empresa
                Director de pasantía asignado por el programa
                Fecha de presentación
    
        </p>
    <h4> CAPÌTULO I </h4>
    <h6>ASPECTOS DE LA EMPRESA DONDE SE REALIZA LA PASANTÌA:</h6>
                
    <p>
                Nombre de la empresa
                Ubicación de la empresa:
                Ubicación del sitio de práctica
                Reseña Histórica de la empresa
                Misión 
                Visión
                Valores
                        Productos y/o servicios 
    
    </p>
    <h4>CAPITULO II</h4>
    <h6> DESARROLLO DE LA PASANTÌA</h6>
              <p>
                    
                   
                    Actividades Realizadas  (indicar cada actividad desarrollada de acuerdo al cronograma presentado en la solicitud de pasantía indicando fecha de inicio, fecha de finalización, logros alcanzadas, dificultades presentadas hasta el momento)
                    El informe de estar firmado por el supervisor de la pasantía por parte de la empresa y/o sitio de práctica.
                    
    
              </p>  
    <div class="card-uscoHeader">
        <h2>SUBE TU INFORME</h2>
    </div>
    
        <!--<img src="../assets/subir.PNG" class="centro" alt="..."  style="width: 90%;margin-top: 10px;" input type=file name="archivoPas" required>-->
        <div class="card animated fadeIn fast">
            <div  id="pasantiaImg">
                <p>Sube tu archivo</p>
                <input type=file  name="archivoPas" required id="pasantiaArchivo" >
            
                </div>

            <div class="txtcenter">
                <a class="btn uscoButton" >CANCELAR</a>
                <input type="submit" [disabled]="!loginForm.valid" class="btn uscoButton" value="ENVIAR">
                
            </div>
      
        <br>
    </div>

</div>
