<div class="posicionComponente">
  <h1>SOLICITUD DE PASANTES</h1>
  <p class="subtitulo">El formulario debe ser diligenciado en su totalidad.</p>
  <form>
    <table style="width:100%; align-content: center;" >
      <tr>
        <th><label>Perfil del estudiante</label></th>
        <th><label style=" text-align: justify; position: relative;">Descripcion de las funciones o el proyecto en el cual el estudiante desarrollara su practica</label></th>
      </tr>
      <tr>
        <td style="margin-left: 20px;"><textarea cols="50"  name="formulario 1" value="" style="margin-right: 50px;" id="txtperfil" required></textarea></td>
        <td style="margin-left: 20px;"><textarea cols="50" name="formulario 2" value=""  style="margin-right: 50px;"  id="txtdescripcion" required></textarea></td>
      </tr>
      <tr>
        <th><label>Programa curricular</label></th>
        <th><label>Remuneracion</label></th>
      </tr>
      <tr><td style="margin:20px; ">
        <select name="listaIng"><option value="1">Ingenieria agricola</option>
        <option value="2">Ingenieria Agroindustrial</option>
        <option value="3">ingenieria Electronica</option>
        <option value="4">Ingenieria civil</option>
        <option value="5">ingenieria de petroleo</option>
        <option value="6">Ingenieria de Software</option>
        <option value="7">Tecnologia en desarollo de Software</option>
        <option value="8">Tecnologia en obras civiles</option>
        </select></td>
        <td style="margin:20px; padding: 10px;"><select name="remunera">
          <option value="1">Si</option>
          <option value="2">No</option>
        </select></td>
      </tr>
      <div class="posicionBoton">
      <tr>
        <td><input class="boton" type="button" value="solicitar pasantes" /></td>
      </tr>
      </div>
    </table>
  </form>
</div>